<%- include('../tela') %>

<h1>Lista de apoias do Aluno</h1>

<table>
  <thead>
    <tr>
      <th>Descrição</th>
      <th>Data Início</th>
      <th>Data Fim</th>
      <th>Ações</th>
    </tr>
  </thead>
  <tbody>
    <% apoias.forEach(function(apoia) { %>
      <tr>
        <td><%= apoia.descricao %></td> 
        <td><%= apoia.dataInicio ? apoia.dataInicio.toLocaleDateString('pt-BR') : '' %></td>
        <td><%= apoia.dataFim ? apoia.dataFim.toLocaleDateString('pt-BR') : '' %></td>
        <td>
          <a href="/apoia/detalhes/<%= apoia._id %>">
            <button>Detalhes</button>
          </a>
        </td>
      </tr>
    <% }) %>
  </tbody>
</table>

<a class="btn" href="/alunos/detalhes/<%= alunoId %>">Voltar para detalhes do aluno</a>
