extends ../tela.pug

block content
  h1 Detalhes do Usuário
  ul
    li strong Nome:      | #{usuario.nome}
    li strong Sobrenome: | #{usuario.sobrenome}
    li strong Email:     | #{usuario.email}
    li strong Idade:     | #{usuario.idade}
    li strong País:      | #{usuario.pais}
    li strong Ativo:     | #{usuario.ativo ? 'Sim' : 'Não'}
  a(href="/usuarios/lista") Voltar para lista