extends ../tela.pug

block content
  body
    h1 Lista de Usuários Inativos
    form(action="/usuarios/searchInativos", method="GET")
      label Pesquisar:
      input(type="text" name="q" placeholder="Digite o nome ou email")
      button(type="submit") Pesquisar
    table
      thead
        tr
          th Nome
          th Sobrenome
          th Email
          th Idade
          th País
          th Ativo
      tbody
        each usuario in usuarios
          tr
            td= usuario.nome
            td= usuario.sobrenome
            td= usuario.email
            td= usuario.idade
            td= usuario.pais
            td= usuario.ativo ? 'Ativo' : 'Inativo'
            td
              a(href=`/usuarios/toggle-ativo/${usuario._id}`) Tornar Ativo
            td 
              a(href=`/usuarios/deletar/${usuario._id}`) Excluir
        a(href="/usuarios/lista") Voltar para lista de ativos  
    