extends ../tela.pug

block content
  if aluno
    h1 Lista de ocorrências de #{aluno.nome}
  else
    h1 Lista de todas as ocorrências

  table
    thead
      tr
        th Data
        th Descrição
        th Ações
    tbody 
      each ocorrencia in ocorrencias
        tr
          td= ocorrencia.data ? ocorrencia.data.toLocaleDateString('pt-BR') : ''
          td= ocorrencia.descricao
          td
            a(href=`/ocorrencias/detalhes/${ocorrencia._id}`) Detalhes

  if aluno
    a(href=`/alunos/detalhes/${aluno._id}`) Voltar para detalhes do aluno
  else
    a(href="/alunos/lista") Voltar para lista de alunos