extends ../tela.pug

block content
  h1 Detalhes do Aluno
  ul
    <li strong> Nome:      | #{aluno.nome}
    <li strong> Sobrenome: | #{aluno.sobrenome}
    <li strong> Email:     | #{aluno.email}
    <li strong> Idade:     | #{aluno.idade}
    <li strong> País:      | #{aluno.pais}
    <li strong> Ativo:     | #{aluno.ativo ? 'Sim' : 'Não'}
  a.btn(href=`/ocorrencias/nova?aluno=${aluno._id}`)
    button.detalhes Nova Ocorrência
  br
  a.btn(href=`/ocorrencias/listaOcorrencias?=${aluno._id}`)
    button.detalhes Lista de Ocorrencias
  br
  // Botão Apoia
  a.btn(href=`/apoia/nova?aluno=${aluno._id}`)
    button.detalhes Novo Apoio
  br
  a.btn(href="/alunos/")
    button.detalhes Voltar para lista