<%- include('../tela') %>

<h1>Detalhes do Aluno</h1>
<ul>
  <li><strong>Nome:</strong> <%= aluno.nome %></li>
  <li><strong>Sobrenome:</strong> <%= aluno.sobrenome %></li>
  <li><strong>Email:</strong> <%= aluno.email %></li>
  <li><strong>Idade:</strong> <%= aluno.idade %></li>
  <li><strong>País:</strong> <%= aluno.pais %></li>
  <li><strong>Ativo:</strong> <%= aluno.ativo ? 'Sim' : 'Não' %></li>
</ul>

<!-- Botão Nova Ocorrência -->
<a class="btn" href="/ocorrencias/nova?aluno=<%= aluno._id %>">
  <button class="detalhes">Nova Ocorrência</button>
</a>
<br>

<!-- Botão Lista Ocorrências -->
<a class="btn detalhes" href="/ocorrencias/listaOcorrencias?aluno=<%= aluno._id %>">
  Lista de Ocorrências
</a>
<br>

<!-- Botão Novo Apoio -->
<a class="btn" href="/apoia/nova?aluno=<%= aluno._id %>">
  <button class="detalhes">Novo Apoio</button>
</a>
<br>

<!-- 🔹 Novo botão Lista Apoios -->
<a class="btn detalhes" href="/apoia/lista?aluno=<%= aluno._id %>">
  Lista de Apoios
</a>
<br>

<!-- Voltar -->
<a class="btn" href="/alunos/">
  <button class="detalhes">Voltar para lista</button>
</a>
