extends ../tela.pug

block content
  h1 Detalhes do Aluno
  ul
    li strong Nome:      | #{aluno.nome}
    li strong Sobrenome: | #{aluno.sobrenome}
    li strong Email:     | #{aluno.email}
    li strong Idade:     | #{aluno.idade}
    li strong País:      | #{aluno.pais}
    li strong Ativo:     | #{aluno.ativo ? 'Sim' : 'Não'}
  a(href=`/ocorrencias/nova?aluno=${aluno._id}`)
    button Nova Ocorrência
  <br>
  a(href=`/ocorrencias/listaOcorrencia?=${aluno._id}`)
    button Lista de Ocorrencias
  <br>
  a(href="/alunos/lista") 
    button Voltar para lista