<%- include('../tela') %>

  <head>
    <link rel="stylesheet" href="/css/listaInativo.css">
  </head>

  <body>
    <div class="container">
      <h1>Lista de Alunos Inativos</h1>

      <form action="/alunos/searchInativos" method="GET" class="busca">
        <button type="submit">
          <i class="fa fa-search" aria-hidden="true" style="font-size: 20px;"></i>
        </button>
        <input type="text" name="q" placeholder="Digite o nome, sobrenome ou turma">
      </form>


      <a class="btn" href="/alunos/">Voltar para a lista de Alunos</a>
      <table>
        <thead class="barra">
          <tr>
            <th>Foto</th>
            <th>Nome</th>
            <th>Idade</th>
            <th>Turma</th>
            <th>Ativo</th>
            <th>Ações</th>
          </tr>
        </thead>
        <tbody>
          <% alunos.forEach(function(aluno) { %>
            <tr>
              <td>
                <% if (aluno.foto && aluno.foto !=='' ) { %>
                  <img src="<%= aluno.foto %>" alt="foto" class="fotos" width="150" height="150">
                  <% } else { %>
                    <!-- use absolute path para garantir que o asset seja encontrado -->
                    <img src="/imagens/padrao.png" alt="sem foto" class="fotos" width="150" height="150">
                    <% } %>
              </td>
              <td>
                <p><a href="/alunos/detalhes/<%= aluno._id %>" class="nome">
                    <%= aluno.nome %>
                  </a> <a href="/alunos/detalhes/<%= aluno._id %>" class="nome">
                    <%= aluno.sobrenome %>
                  </a></p>
              </td>
              <td>
                <%= aluno.dataN ? aluno.dataN.toLocaleDateString('pt-BR') : '' %>
              </td>
              <td>
                <%= aluno.turma && aluno.turma.nome ? aluno.turma.nome : '—' %>
              </td>
              <td>
                <%= aluno.ativo ? 'Ativo' : 'Inativo' %>
              </td>
              <td>
                <a class="nome" href="/alunos/toggle-ativo/<%= aluno._id %>">Tornar Ativo</a>
              </td>
            </tr>
            <% }) %>
        </tbody>
      </table>
    </div>
  </body>