<%- include('../tela') %>

<head>
  <link rel="stylesheet" href="/css/listaAlunos.css">
</head>

<body>
  <div class="container">
<h1>Lista de Alunos Inativos</h1>

<form action="/alunos/searchInativos" method="GET" class="busca">
  <button type="submit">
    <i class="fa fa-search" aria-hidden="true" style="font-size: 20px;"></i>
  </button>
  <input type="text" name="q" placeholder="Digite o nome, sobrenome ou turma">
</form>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Sobrenome</th>
      <th>Email</th>
      <th>Idade</th>
      <th>País</th>
      <th>Ativo</th>
      <th>Ações</th>
    </tr>
  </thead>
  <tbody>
    <% alunos.forEach(function(aluno) { %>
      <tr>
        <td><%= aluno.nome %></td>
        <td><%= aluno.sobrenome %></td>
        <td><%= aluno.email %></td>
        <td><%= aluno.idade %></td>
        <td><%= aluno.pais %></td>
        <td><%= aluno.ativo ? 'Ativo' : 'Inativo' %></td>
        <td>
          <a class="nome" href="/alunos/toggle-ativo/<%= aluno._id %>">Tornar Ativo</a>
        </td>
      </tr>
    <% }) %>
  </tbody>
</table>


<a class="btn" href="/alunos/">Voltar para a lista de Alunos</a>
</div>
</body>