extends ../tela.pug

block content 
        h1 lista de alunos
        form(action="/alunos/search", method="GET")
            label Pesquisar:
            input(type="text" name="q" placeholder="Digite o nome ou email")
            button(type="submit") Pesquisar

        table
            thead
                tr
                    th Nome
                    th Sobrenome
                    th Email
                    th Idade
                    th País
                    th Ações
            tbody
                each aluno in alunos
                    tr
                        td
                            a(href=`/alunos/detalhes/${aluno._id}`)= aluno.nome
                        td= aluno.sobrenome
                        td= aluno.email
                        td= aluno.idade
                        td= aluno.pais
                        td
                            a(href=`/alunos/editar/${aluno._id}`) Editar
                        td
                            a(href=`/alunos/toggle-ativo/${aluno._id}`) Alterar Status
                        td
                            a(href=`/alunos/deletar/${aluno._id}`) Excluir

                            
        a(href='/alunos/inativo') lista de usuários inativos
        br
        a(href="/alunos/formulario") Cadastrar novo usuário

