extends ../tela.pug

block head
  link(rel="stylesheet", href="/css/listaAlunos.css")

block content
  h1 Lista de Alunos
  form(action="/alunos/search", method="GET")
    label Pesquisar:
    input(class="pesquisa" type="text" name="q" placeholder="Digite o nome, sobrenome ou turma")
    button(class="pesquisa" type="submit") Pesquisar

  table
    thead
      tr
        th Nome
        th Sobrenome
        th Turma
        th Data de Nascimento
        th Necessidade Especial
        th Problema Saúde
        th APOIA
        th NEPRE
        th Ações
    tbody
      each aluno in alunos
        tr
          td
            a(href=`/alunos/detalhes/${aluno._id}`)= aluno.nome
          td
            a(href=`/alunos/detalhes/${aluno._id}`)= aluno.sobrenome
          td= aluno.turma
          td= aluno.dataN ? aluno.dataN.toLocaleDateString('pt-BR') : ''
          td= aluno.necesidadeE
          td= aluno.problemaSaude
          td= aluno.apoia ? 'Sim' : 'Não'
          td= aluno.nepre ? 'Sim' : 'Não'
          td
            a.btn(href=`/alunos/editar/${aluno._id}`) Editar
            |  
            a.btn(href=`/alunos/toggle-ativo/${aluno._id}`) Alterar Status
            |  
            a.btn(href=`/alunos/deletar/${aluno._id}`) Excluir

  a.btn.btnLista(href='/alunos/inativo') Lista de alunos inativos
  a.btn.btnLista(href="/alunos/formulario") Cadastrar novo aluno