<%- include('../tela') %>

<h1>Aluno cadastrado com sucesso!</h1>

<p>Nome: <%= aluno.nome %></p>
<p>Sobrenome: <%= aluno.sobrenome %></p>
<p>Email: <%= aluno.email %></p>
<p>Idade: <%= aluno.idade %></p>
<p>País: <%= aluno.pais %></p>

<a class="btn" href="/alunos/formulario">Cadastrar novo aluno</a>
<a class="btn" href="/alunos/">Ver lista de alunos</a>
